<h1><%= @guest.name %></h1>

<h3><%= @guest.occupation %></h3>

<%if !@guest.appearances.blank?  %>
  <h3>Appearances</h3>
  <ul>
    <% @guest.appearances.each do |appearance|%>
    <li><%=link_to appearance.episode.date, edit_appearance_path(appearance)%></li>
    <% end %>
  </ul>
<%end %>
